services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: web-app
    ports:
      - "3301:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"
    network_mode: bridge