
#DATABASE_URL="postgresql://postgres:test@localhost:5432/telko_vas_db?schema=public"
DATABASE_URL="postgresql://vendi_core_user:vendic_Ore_PaS@10.218.76.92:2903/vendicore_db?schema=public"

REDIS_URL=redis://localhost:6379
NEXTAUTH_URL="http://localhost"

NEXTAUTH_SECRET="uriuiurieuiruie8989859485hinkdkfnkflkljlkhkhd"